.button {
    background-color: #5a01a7; 
    height: 25%;
    display: block;
    color: white;
    text-decoration: none;
    font-size: x-large;
    cursor: pointer;
    padding: 10px;

}

.button:hover {
    outline-color: transparent;
    outline-style:solid;
    box-shadow: 0 0 0 4px #5a01a7;
    background-color: rgb(216, 174, 255);
}

.menu {
    background-color: aliceblue;
    text-align: center;
    border: solid black;
    text-decoration: none;
    display: inline-block;
    margin: auto;
    cursor: pointer;
    height: 5%;
    width: 15%;
    margin-left: 65%;
}

.menu:hover {
    outline-color: transparent;
    outline-style:solid;
    box-shadow: 0 0 0 4px #5a01a7;
    background-color: rgb(216, 174, 255);
}

fieldset {
    margin: 10px;
}

.point {
    display: none;
}
