.menu {
    background-color: aliceblue;
    text-align: center;
    border: solid black;
    text-decoration: none;
    display: inline-block;
    margin: auto;
    cursor: pointer;
    height: 5%;
    width: 10%;
}

.menu:hover {
    outline-color: transparent;
    outline-style:solid;
    box-shadow: 0 0 0 4px #5a01a7;
    background-color: rgb(216, 174, 255);
}

label {
    font-size: large;
}

fieldset {
    width: 70%;
    margin: 10px;
}

.setPoint {
    display: none;
}

.setNumber {
    display: none;
}

