{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'point_register/bakery_detail.css' %}">
<html>
    <head>
        <h1>Point Registration</h1>
        <h2>รายการเบเกอรี่ และขนมการบินไทย – Bakery by Thai Catering</h2>
    </head>
    <body>
        <div class="point_added">
            <center><button class="button">Add Point</button></center>
        </div>
        <div class="point_block">
            <p class="type_frame">ขนมการบินไทย เบเกอรี่ A – Bakery A</p>
            <p class="type_frame">ขนมการบินไทย เบเกอรี่ B – Bakery B</p>
            <p class="type_frame">ขนมการบินไทย เบเกอรี่ C – Bakery C</p>
            <p class="type_frame">ขนมการบินไทย เบเกอรี่ D – Bakery D</p>
        </div>
    </body>  
</html>