{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'point_register/bakery_detail.css' %}">
<html>
    <head>
        
        <h1>Point Registration <a href="{% url 'point_register:index' %}" class="menu">Menu</a> </h1>
        <h2>รายการเบเกอรี่ และขนมการบินไทย – Bakery by Thai Catering</h2>
    </head>
    <body>
        <div class="point_added">
            <form action="{% url 'point_register:update_point' %}" method="POST">
                {% csrf_token %}
                <label for="mobile_number" class="label">
                    Mobile Number: 
                </label>
                <input type="text"  class="point"id="point" name="point" >{{ add_point_form.point }}
                <input type="text" class="number" id="mobile_number" name="mobile_number" maxlength="10" required>
                <button type="submit" class="button">
                    Add Point
                </button>
            </form>
            <li id="list"></li><br>
            <button class="remove_box" onclick="deleteBakery()">Remove All List</button> 
        </div>
        <div class="point_block">

            <p class="type_frame">ขนมการบินไทย เบเกอรี่ A – Bakery A</p>
            {% for l in list %}
                {% if l.type_text == 'A' %}
                    {% for p in point %}
                        {% if p.name == l.name %}
                            <div class="mutiple-button">
                                <input type="number" id="{{l.name}}" value="1">
                                <button class="plus" onclick="plus('{{l.name}}', '{{p.point}}')">+</button>
                                <button class="minus" onclick="minus('{{l.name}}', '{{p.point}}')">-</button> <br>
                                <button class="box" onclick="addBakery('{{l.name}}', '{{p.point}}')">{{ l.name }}</button>
                            </div>
                        {% endif %}
                    {% endfor %} 
                {% endif %}    
            {% endfor %} 

            <p class="type_frame">ขนมการบินไทย เบเกอรี่ B – Bakery B</p>
            {% for l in list %}
                {% if l.type_text == 'B' %}
                    {% for p in point %}
                        {% if p.name == l.name %}
                            <div class="mutiple-button">
                                <input type="number" id="{{l.name}}" value="1">
                                <button class="plus" onclick="plus('{{l.name}}', '{{p.point}}')">+</button>
                                <button class="minus" onclick="minus('{{l.name}}', '{{p.point}}')">-</button> <br>
                                <button class="box" onclick="addBakery('{{l.name}}', '{{p.point}}')">{{ l.name }}</button>
                            </div>
                        {% endif %}
                    {% endfor %} 
                {% endif %}
            {% endfor %} 

            <p class="type_frame">ขนมการบินไทย เบเกอรี่ C – Bakery C</p>
            {% for l in list %}
                {% if l.type_text == 'C' %}
                    {% for p in point %}
                        {% if p.name == l.name %}
                            <div class="mutiple-button">
                                <input type="number" id="{{l.name}}" value="1">
                                <button class="plus" onclick="plus('{{l.name}}', '{{p.point}}')">+</button>
                                <button class="minus" onclick="minus('{{l.name}}', '{{p.point}}')">-</button> <br>
                                <button class="box" onclick="addBakery('{{l.name}}', '{{p.point}}')">{{ l.name }}</button>
                            </div>
                        {% endif %}
                    {% endfor %} 
                {% endif %}
            {% endfor %}   

            <p class="type_frame">ขนมการบินไทย เบเกอรี่ D – Bakery D</p>
            {% for l in list %}
                {% if l.type_text == 'D' %}
                    {% for p in point %}
                        {% if p.name == l.name %}
                            <div class="mutiple-button">
                                <input type="number" id="{{l.name}}" value="1">
                                <button class="plus" onclick="plus('{{l.name}}', '{{p.point}}')">+</button>
                                <button class="minus" onclick="minus('{{l.name}}', '{{p.point}}')">-</button> <br>
                                <button class="box" onclick="addBakery('{{l.name}}', '{{p.point}}')">{{ l.name }}</button>
                            </div>
                        {% endif %}
                    {% endfor %} 
                {% endif %}
            {% endfor %}

        </div>
    </body>  

    <script>
        let bakeryList = {};
        var printList = "";
        var pointList = {};
        var totalPoint = 0;

        function addTotalPoint() {
            totalPoint = 0;
            for([key, val] of Object.entries(pointList)) {
                totalPoint += pointList[key];
            }
            document.getElementById("point").value = totalPoint;
        }

        function plus(id, point) {
            if (bakeryList[id] == null) {
                bakeryList[id] = 1;
                document.getElementById(id).value = bakeryList[id]; 
                pointList[id] = bakeryList[id] * point;
            } else {
                bakeryList[id] += 1;
                document.getElementById(id).value = bakeryList[id]; 
                pointList[id] = bakeryList[id] * point;
            }
        }

        function minus(id, point) {
            if (bakeryList[id] != null && bakeryList[id] > 0) {
                bakeryList[id] -= 1;
                document.getElementById(id).value = bakeryList[id]; 
                document.getElementById(id).innerHTML = 0;
                pointList[id] = bakeryList[id] * point;
            }
        }

        function printBakery() {
            printList = ""
            for([key, val] of Object.entries(bakeryList)) {
                if (val != 0) {
                  printList += "<li class='display_text'>" + " - " + key + " x " + val + "</li>" ;  
                }
                
            }
            document.getElementById("list").innerHTML = printList;
        }

        function addBakery(id, point) {
            var count = document.getElementById(id).value;
            bakeryList[id] = parseInt(count);
            pointList[id] = count*point;
            printBakery();
            addTotalPoint();

        }

        function deleteBakery() {
            for([key, val] of Object.entries(bakeryList)) {
                document.getElementById(key).value = 1;
            }
            printList = "";
            bakeryList = {};
            document.getElementById("list").innerHTML = printList;
        }

    </script>
</html>