{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'point_register/bakery_detail.css' %}">
<html>
    <head>
        
        <h1>Point Registration <a href="{% url 'point_register:index' %}" class="menu">Menu</a> </h1>
        <h2>รายการเบเกอรี่ และขนมการบินไทย – Bakery by Thai Catering</h2>
    </head>
    <body>
        <div class="point_added">
            <label class="label">Mobile Number: </label>
            <input type="text" class="number"><button class="button">Add Point</button>
            <li id="list"></li>
            <button class="remove_box" onclick="deleteBakery()">Remove All List</button> 
        </div>
        <div class="point_block">

            <p class="type_frame">ขนมการบินไทย เบเกอรี่ A – Bakery A</p>
            {% for l in list %}
                {% if l.type_text == 'A' %}
                    <div class="mutiple-button">
                        <input type="number" id="{{l.name}}" value="0">
                        <button onclick="plus('{{l.name}}')">+</button>
                        <button onclick="minus('{{l.name}}')">-</button> <br>
                        <button class="box" onclick="addBakery('{{l.name}}')">{{ l.name }}</button>
                    </div>
                {% endif %}    
            {% endfor %} 

            <p class="type_frame">ขนมการบินไทย เบเกอรี่ B – Bakery B</p>
            {% for l in list %}
                {% if l.type_text == 'B' %}
                    <div class="mutiple-button">
                        <input type="number" id="{{l.name}}" value="0">
                        <button onclick="plus('{{l.name}}')">+</button>
                        <button onclick="minus('{{l.name}}')">-</button> <br>
                        <button class="box" onclick="addBakery('{{l.name}}')">{{ l.name }}</button>
                    </div>
                {% endif %}
            {% endfor %} 

            <p class="type_frame">ขนมการบินไทย เบเกอรี่ C – Bakery C</p>
            {% for l in list %}
                {% if l.type_text == 'C' %}
                    <div class="mutiple-button">
                        <input type="number" id="{{l.name}}" value="0">
                        <button onclick="plus('{{l.name}}')">+</button>
                        <button onclick="minus('{{l.name}}')">-</button> <br>
                        <button class="box" onclick="addBakery('{{l.name}}')">{{ l.name }}</button>
                    </div>
                {% endif %}
            {% endfor %}   

            <p class="type_frame">ขนมการบินไทย เบเกอรี่ D – Bakery D</p>
            {% for l in list %}
                {% if l.type_text == 'D' %}
                    <div class="mutiple-button">
                        <input type="number" id="{{l.name}}" value="0">
                        <button onclick="plus('{{l.name}}')">+</button>
                        <button onclick="minus('{{l.name}}')">-</button> <br>
                        <button class="box" onclick="addBakery('{{l.name}}')">{{ l.name }}</button>
                    </div>
                {% endif %}
            {% endfor %}

        </div>
    </body>  

    <script>
        let bakeryList = {};
        var printList = "";

        function plus(x) {
            if (bakeryList[x] == null) {
                bakeryList[x] = 1;
                document.getElementById(x).value = bakeryList[x]; 
            } else {
                bakeryList[x] += 1;
                document.getElementById(x).value = bakeryList[x]; 
            }
        }

        function minus(x) {
            if (bakeryList[x] != null && bakeryList[x] > 0) {
                bakeryList[x] -= 1;
                document.getElementById(x).value = bakeryList[x]; 
                document.getElementById(x).innerHTML = 0;
            }
        }

        function updateData() {
            printList = ""
            for([key, val] of Object.entries(bakeryList)) {
                if (val != 0) {
                  printList += "<li>" + key + " x " + val + "</li>" ;  
                }
                
            }
            document.getElementById("list").innerHTML = printList;
        }

        function addBakery(x) {
            var count = document.getElementById(x).value;
            bakeryList[x] = parseInt(count);
            updateData();

        }

        function deleteBakery() {
            for([key, val] of Object.entries(bakeryList)) {
                document.getElementById(key).value = 0;
            }
            printList = "";
            bakeryList = {};
            document.getElementById("list").innerHTML = printList;
        }

    </script>
</html>